// Variable
$mainColor: #E76464;
// 
@mixin btn-main-green {
    text-transform: none;
    padding: 6px 10px;
    width: 150px;
    color: white;
    background-color: #39DF8C;
}

@mixin btn-chip-main {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(165, 165, 165);
    border-bottom: 4px solid rgb(165, 165, 165);
}

.bgWhite {
    background-color: white !important;
    color: black !important;
}

.bgGrey {
    background-color: #e5e5e5 !important;
    color: black !important;
}

.bgBlack {
    background-color: rgb(53, 49, 49) !important;
    color: white !important;
}

.hide-on--md {
    @media screen and (max-width: 860px) {
        display: none;
    }
    @media screen and (max-width: 425px) {
        display: none;
    }
    @media screen and (max-width: 320px) {
        display: none;
    }
}

.hide-on--lg {
    @media screen and (min-width: 860px) {
        display: none;
    }
}