@mixin btn-main-green {
    text-transform: none;
    padding: 6px 10px;
    width: 150px;
    color: white;
    background-color: #39DF8C;
}

.bgWhite {
    background-color: white !important;
    color: black !important;
}

.bgGrey {
    background-color: #e5e5e5 !important;
    color: black !important;
}

.bgBlack {
    background-color: rgb(53, 49, 49) !important;
    color: white !important;
}